<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="left">
       <br><br><br>
       <img class="profile" src="assets/img.jpg" alt="Avatar"><br>
       <h2 style="text-align: center;color:rgb(61, 188, 242);font-size: 2.1rem;font-family: 'Great Vibes', cursive;letter-spacing: 2
       px;">Santhan Krishna</h2>
       <div class="social">
        <ul>
          <li ><a href="https://github.com/santhankrishna8" target="_blank"><i class="fa fa-github" aria-hidden="true" title="GitHub"></i></a></li>
          <li><a href="https://mail.google.com/mail/u/0/?ogbl#inbox?compose=GTvVlcSHwsPVxxgbPtvqRGcGJPlpRftcLRqfvcLXFflXzhTzrqBTVJkfDXqfkjhpjXKgXmxTrwbzh" target="_blank"><i class="fa fa-envelope" aria-hidden="true" title="Gmail"></i></a></li>
          <li><a href="https://www.linkedin.com/in/santhan-krishna-13460a219/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true" title="Linkedin"></i></a></li>
        </ul>
       </div>
       <br>
       <div class="resume">
        <button class="buttonDownload" title="Download resume">Resume</button>

       </div>
       
      

    </div>
    <div class="right">
      <div class="nav">
         <a style="font-size: 1.5rem;margin-left: 1rem;color:#64748c;margin-right: 17rem;">Santhan Krishna</a>
         <div class="menu">
          <a  href="#home">Home</a>
          <a href="#about">About</a>
          <a href="#skills">Skills</a>
          <a href="#projects">Projects</a>
          <a href="#contact">Contact</a>
         </div>
      </div>
      <div class="content">
         <div id="home">
         
           <div class="l">
            <h1 style="color:#2e2424;font-family: monospace;margin: 60px 0  40px 60px;">Hi,I'm Santhan Krishna</h1>
            <h2>Frontend Developer</h2>
           
            <a href="#contact" class="comic-button">Contact me</a>
           </div>
           <div class="r">
            <br>
            <img class="box" src="assets/img.jpg" alt="Avatar">
           </div>
           
         </div>
         <div id="about">
          <h2 style="text-align: center;color: black;">About</h2>
          <h2 style="text-align: center;color: black;">Experience</h2>
          <div class="experience">
            
           
            <div class="card">
              <div class="company">
                <div class="l" style="background-color: rgb(61, 188, 242);margin-top: -10px;height:70px;text-align: center;align-content: center;color: azure;">
                  <h3 style="margin-top: 25px;">Intern</h3>
                </div><br>
                <img style="margin-top: -10px;" src="assets/download.png">
                <h4 style="color: #aba3a3;margin-top: -20px;"><B>February - June 2023</B></h4>
                <h3>Remote</h3>
              </div>
              
              
            </div>

          </div>
          <h2 style="text-align: center;color: black;">Education</h2>
          <div class="education" >
            <div class="card">
              
                <div class="l" style="background-color: rgb(61, 188, 242);margin-top: -10px;height:70px;text-align: center;align-content: center;color: azure;">
                  <h3 style="margin-top: 25px;">Bachelor of Technology (B.Tech)</h3>
                </div><br>
                <div class="details">
                  <ul>
                    <li style="font-weight: 700;">SASTRA Deemed to be University</li>
                  <li style="color: #64748c;">Thanjavur, Tamil Nadu</li>
                  <li>Electronics & Communication (ECE)</li>
                  
                  <li>CGPA: 7.4581</li>

                  </ul>
                  
                </div>
               
              
            </div>
            <div class="card">
              
                <div class="l" style="background-color: rgb(61, 188, 242);margin-top: -10px;height:70px;text-align: center;align-content: center;color: azure;">
                  <h3 style="margin-top: 25px;">XII Class</h3>
                </div><br>
                <div class="details">
                  <ul>
                    <li style="font-weight: 700;">Narayana Junior College</li>
                  <li style="color: #64748c;">Hyderabad, Telangana</li>
                  <li>MPC</li>
                  
                  <li>Percentage: 97.3</li>

                  </ul>
                </div>
               
              
            </div>
            <div class="card">
              
                <div class="l" style="background-color: rgb(61, 188, 242);margin-top: -10px;height:70px;text-align: center;align-content: center;color: azure;">
                  <h3 style="margin-top: 25px;">X Class</h3>
                </div><br>
                <div class="details">
                  <ul>
                    <li style="font-weight: 700;">Academic Heights School</li>
                  <li style="color: #64748c;">Tirupati, Andhra Pradesh</li>
                
                  
                  <li>CGPA: 9.8</li>

                  </ul>
                </div>
               
          
            </div>
          </div>
         
         </div>
         <br>
         <div id="skills">
          <h2 style="text-align: center;color: black;">Skills</h2>
          <div class="icons">
            <div class="icon">
              <img src="assets\angular.png" >
              <a>Angular</a>
            </div>
            <div class="icon">
              <img src="\assets\c.png" >
              <a>C</a>
            </div>
            <div class="icon">
              <img src="\assets\c++.png" >
              <a>C++</a>
            </div>
            <div class="icon">
              <img src="\assets\html5.png" >
              <a>HTML</a>
            </div>

          </div>
          <div class="icons">
            <div class="icon">
              <img src="assets\css3.png" >
              <a>CSS</a>
            </div>
            <div class="icon">
              <img src="\assets\java.png" >
              <a>Java</a>
            </div>
            <div class="icon">
              <img src="\assets\python.png" >
              <a>Python</a>
            </div>
            <div class="icon">
              <img src="\assets\git.png" >
              <a>Git</a>
            </div>

          </div>
          <div class="icons">
            <div class="icon">
              <img src="assets\github.jpeg" >
              <a>GitHub</a>
            </div>
            <div class="icon">
              <img src="\assets\javascript.png" >
              <a>JavaScript</a>
            </div>
            <div class="icon">
              <img src="\assets\typescript.png" >
              <a>TypeScript</a>
            </div>
            <div class="icon">
              <img src="\assets\MySQL.png" >
              <a>MySQL</a>
            </div>
            <div class="icon">
              <img src="\assets\mongodb.png" >
              <a>MongoDB</a>
            </div>
            <div class="icon">
              <img  src="\assets\figma.jpeg" >
              <a>Figma</a>
            </div>

          </div>
         </div><br>
         <div id="projects">
          <h2 style="text-align: center;color: black;">Projects</h2>
          <div class="all">
            <div class="proj">
              <a href="https://santhan-portfolio.vercel.app/" target="_blank">
              <img  src="\assets\portfolio.png" ><br>
            
              <h3 >Portfolio</h3>
              <p>Portfolio using Angular framework, HTML, CSS and I have deployed it using GitHub in Vercel </p></a>
            </div>
            <div class="proj">
              <a href="https://spectrum-publications.vercel.app/home" target="_blank">
              <img  src="\assets\spectrum.png" >
              <h3>Ecommerce Website</h3>
              <p>Frontend part of Ecommerce website using Angular framework, HTML, CSS and I have deployed it using GitHub in Vercel </p>
            </a>
            </div>
            <div class="proj">
              <a href="https://abstract-website-replica.vercel.app/" target="_blank">
              <img  src="\assets\abstract.png" >
              <h4>Abstract Website Replica</h4>
              <p>This is a replica of Abstract company website done using HTML, CSS and I have deployed it using GitHub in Vercel </p></a>
            </div>
            <div class="proj">
              <a href="https://corporate-website-replica.vercel.app/" target="_blank">
              <img  src="\assets\replica2.png" >
              <h4>Corporate Site Replica</h4>
              <p>Portfolio using Angular framework, HTML, CSS and I have deployed it using GitHub in Vercel </p></a>
            </div>
            <div class="proj">
              <a href="https://guess-game-five.vercel.app/" target="_blank">
              <img  src="\assets\gg.png" >
              <h3>Guess the Number</h3>
              <p>It is a small game using HTML, CSS and JavaScript and I have deployed it using GitHub in Vercel </p></a>
            </div>
            <div class="proj">
              <a href="https://www.figma.com/proto/uNulgokfQmcD6ipWlbgAB3/Untitled?page-id=0%3A1&type=design&node-id=65-106&viewport=41%2C36%2C0.81&t=R6tdXD8zchbA8hPm-1&scaling=scale-down&starting-point-node-id=9%3A2" target="_blank">
              <img  src="\assets\figma-l.png" >
              <h4>Portfolio-Figma</h4>
              <p>This is my portfolio, I have designed this used Figma design tool.</p></a>
            </div>
            <div class="proj">
              <a href="https://www.figma.com/proto/puFpzN5uerlsnPrVRBgzFM/Mobile?node-id=143-245&starting-point-node-id=143%3A245&scaling=scale-down" target="_blank">
              <img  src="\assets\figma-m.png" >
              <h4>Portfolio-Figma</h4>
              <p>This is my portfolio, I have designed this used Figma design tool.</p></a>
            </div>
          </div>
         </div>
         <div id="contact">
          <h2 style="text-align: center;color: black;margin-bottom: -6rem;">Contact</h2>
          <div id="contact">
            <div class="contact-container">
              <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
                <input type="hidden" name="access_key" value="2ddf0a68-f8c8-483f-911b-2088a0f3790a">
        
                <input onfocus="this.value=''" type="text" name="name" placeholder="Name" class="contact-inputs" required >
                <input onfocus="this.value=''" type="email" name="email" placeholder="Email" class="contact-inputs" required>
                <textarea onfocus="this.value=''" name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
                <button type="submit">Submit</button>
              </form>
              <div class="contact-right" >
                <a style="display: flex;align-items: center;justify-content: center; font-size: 1rem;font-weight: 500; "><i class="fa fa-envelope"></i>santhankrishna18&#x40;gmail.com</a>
                <a style="display: flex;align-items: center;justify-content: center;font-size: 1rem;font-weight: 500;"><i class="fa fa-phone"></i>6304349076</a>
              
              </div>
            </div>
          </div>
         </div>
      </div>





    </div>
  </div>
  
</body>
</html>